html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    /* for border-box, this makes it so the border width is taken into account*/
}

header {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #1f2937;
    padding-left: 9em;
    padding-right: 9em;
    align-items: center;
    padding-top: 25px;
}

.slogancont {
    /* border: 1px solid yellow; */
    font-size: 24px;
}

/* nav{
    border: 1px solid white; 
} */

/* .headeritem:nth-of-type(1){
    padding: 0;
} */
.headeritem {
    padding-left: 15px;
    color: #e5e7eb;
}

.headeritem-special {
    padding: 0;
}

li {
    display: inline;
}

a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: space-between;
    color: white;
    background: #1f2937;
    /* border: 1px solid red; */
    padding: 7em 9em;
    /* top/bottom 7em | left/right 9em */
}

.h1main {
    /* border: 1px solid red; */
    font-size: 48px;
    font-weight: 700;
    /* width: 8em; */
}


.maincont {
    /* border: 1px solid yellow; */
    width: 50%;
}

.pmain {
    margin-top: 20px;
    color: #e5e7eb;
}

.signup-btn {
    border: 1px solid #3882f6;
    border-radius: 10px;
    background-color: #3882f6;
    padding: 10px 35px;
    display: inline-block;
    margin-top: 15px;
    font-weight: 700;
}

.imgcont {
    /* border: 1px solid red; */
    width: 50%;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #1f2937;
}

.therapistscont {
    display: flex;
    /* justify-content: space-between; */
    color: black;
    background: white;
    /* border: 1px solid red; */
    /* padding: 7em 9em; */
    padding-top: 3em;
    padding-left: 9em;
    padding-right: 9em;
    justify-content: center;
}

.h1sec {
    font-size: 36px;
    font-weight: 700;
    /* border: 1px solid red; */
}

.therapistspics {
    padding-top: 3em;
    padding-left: 13em;
    padding-right: 13em;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
}

.pic-items {
    width: 10em;
    height: 10em;
    border: 3px solid #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1f2937;
}

.therapistsnames {
    display: flex;
    /* border-bottom: 1px solid red; */
    padding-left: 13em;
    padding-right: 13em;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 7em;
}

.name-items {
    color: #1f2937;
    /* border: 1px solid red; */
    width: 10em;
    text-align: center;
}

.feedback {
    /* border: 1px solid red; */
    display: flex;
    color: #1f2937;
    background: #e5e7eb;
    padding-top: 3em;
    padding-left: 9em;
    padding-right: 9em;
    justify-content: center;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.feedback-name {
    /* border-bottom: 1px solid red; */
    display: flex;
    color: #1f2937;
    background: #e5e7eb;
    padding-left: 9em;
    padding-right: 14em;
    padding-bottom: 3em;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: 700;
}

.calltoaction-sec {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    color: white;
    padding: 7em 9em;
}

.cta-cont {
    background-color: #3882f6;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 3em 9em;

    /* width 100% so i can see the container take up the space the space
    I've given it */
}

.cta-cont h1 {
    font-size: 28px;
    font-weight: 700;
}

.cta-cont p {
    padding-top: 7px;
    color: #e5e7eb;
}

.btn-cont {
    background-color: #3882f6;
    /* border: 1px solid red; */
    width: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-btn2 {
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 35px;
    display: inline-block;
    margin-top: 15px;
    font-weight: 700;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8em;
    background-color: #1f2937;
    color: #e5e7eb;
}